<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="contents">
    <h2>로그인</h2>

    <form action="/login" method="post">
        <input type="email" name="email" placeholder="이메일" required="required"/>
        <br>
        <input type="password" name="password" placeholder="비밀번호" required="required"/>
        <br>
        <div th:if = "${errorMassage != null}">
            <a style="color:red;">[[${errorMassage}]]</a>
        </div>
        <br>
        <button class="btn btn-secondary">로그인</button>
    </form>
    <a class="btn btn-warning" href="/oauth2/authorization/kakao">카카오 로그인</a>
</div>

</body>
</html>