<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="en">
<div th:insert="~{fragment/header::headerFragment}"></div>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>강사 로그인</h2>

<form action="/login/teacher" method="post">
  <input type="email" name="email" placeholder="이메일" required="required" />
  <br>
  <input type="password" name="password" placeholder="비밀번호" required="required" />
  <br>
  <button>로그인</button>
</form>

</body>
<div th:insert="~{fragment/footer::footerFragment}"></div>
</html>