<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="contents" class="center">
    <h2 class="centerT">비밀번호 재설정</h2>
    <div class="centerT">
        메일 발송이 완료되었습니다!<br>
        입력하신 메일로 비밀번호 재설정을 확인해 주세요.

    </div>
    <link href="/css/main.css" rel="stylesheet">
    <script src=".js"></script>
</div>

</body>

</html>