<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="contents">
    <h2>수강생 마이페이지</h2>

    <br>
    <h3>내가 신청한 강의</h3>
    <table class="table">
        <tr>
            <th>번호</th>
            <th>강의명</th>
            <th>강사</th>
            <th>프로필사진</th>
            <th>시간</th>
            <th>가격</th>
            <th>레슨 시작일</th>
            <th>레슨 종료일</th>
            <th>수강신청 마감일</th>
            <th>수강신청일</th>
            <th>수강자수</th>
            <th>취소하기</th>
        </tr>

        <tr th:each="dto : ${dtos}">
            <td><a th:text="${dto.applyId}">번호</a></td>
            <td th:text="${dto.name}">강의명</td>
            <td th:text="${dto.teacher.name}">강사</td>
            <td><img th:src="|/image/${dto.teacher.profileImageUrl}|" width="50" height="50"/></td>
            <td th:text="${dto.lessonTime}">시간</td>
            <td th:text="${dto.price}">가격</td>
            <td th:text="${dto.lessonStartDate}">레슨 시작일</td>
            <td th:text="${dto.lessonEndDate}">레슨 종료일</td>
            <td th:text="${dto.applyEndDate}">수강신청 마감일</td>
            <td th:text="${dto.applyCreateTime}">수강신청일</td>
            <td th:text="${dto.applyStatus}">수강자수</td>
            <th:block th:if="${#strings.equals(dto.userApplyStatus, 'APPLY')}">
                <td>
                    <button th:onclick="cancelApply([[${dto.lessonId}]])">취소하기</button>
                </td>
            </th:block>
            <th:block th:if="${#strings.equals(dto.userApplyStatus, 'CANCEL')}">
                <td><a>취소완료</a></td>
            </th:block>
            <th:block th:if="${#strings.equals(dto.userApplyStatus, 'COMPLETED')}">
                <td>
                    수강완료<br>
                    <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/student/lesson/review/{lessonId}(lessonId=${dto.applyId})}'|">수강평 쓰기</button>
                </td>
            </th:block>
            <th:block th:if="${#strings.equals(dto.userApplyStatus, 'REVIEWCOMPLETED')}">
                <td>
                    수강평<br>
                    작성완료
                </td>
            </th:block>

        </tr>
    </table>
    <script src="/js/studentMyPage.js"></script>
</div>

</body>

</html>