<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="contents">
    <h2>수강생 마이페이지</h2>

    <br>
    <h3>내가 신청한 강의</h3>
    <table class="table">
        <tr>
            <th>번호</th>
            <th>강의명</th>
            <th>강사</th>
            <th>프로필사진</th>
            <th>시간</th>
            <th>가격</th>
            <th>레슨 시작일</th>
            <th>레슨 종료일</th>
            <th>수강신청 마감일</th>
            <th>수강신청일</th>
            <th>수강자수</th>
            <th>취소하기</th>
        </tr>

        <tr th:each="apply : ${applies}">
            <td><a th:text="${apply.lesson.id}">번호</a></td>
            <td th:text="${apply.lesson.name}">강의명</td>
            <td th:text="${apply.lesson.teacher.name}">강사</td>
            <td><img th:src="|/image/${apply.lesson.teacher.profileImageUrl}|" width="50" height="50"/></td>
            <td th:text="${apply.lesson.lessonTime}">시간</td>
            <td th:text="${apply.lesson.price}">가격</td>
            <td th:text="${#temporals.format(apply.lesson.lessonStartDate, 'yyyy-MM-dd')}">레슨 시작일</td>
            <td th:text="${#temporals.format(apply.lesson.lessonEndDate, 'yyyy-MM-dd')}">레슨 종료일</td>
            <td th:text="${#temporals.format(apply.lesson.applyEndDate, 'yyyy-MM-dd')}">수강신청 마감일</td>
            <td th:text="${#temporals.format(apply.createTime, 'yyyy-MM-dd')}">수강신청일</td>
            <td th:text="${apply.lesson.applyStatus}">수강자수</td>
            <th:block th:if="${#strings.equals(apply.applyStatus, 'APPLY')}">
                <td>
                    <button th:onclick="cancelApply([[${apply.lesson.id}]])">취소하기</button>
                </td>
            </th:block>
            <th:block th:if="${#strings.equals(apply.applyStatus, 'CANCEL')}">
                <td><a>취소완료</a></td>
            </th:block>

        </tr>
    </table>
    <script src="/js/studentMyPage.js"></script>
</div>

</body>

</html>