<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<div th:fragment="headerFragment" >

    <div class="black-bg" id="alarmModal">
        <div class="white-bg">

            <table class="table table-hover" id="modalAlarmTable">

            </table>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">LessonReserve</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" id="navBar">


                </ul>
                <a id="alarmCount" style="margin-left: auto; color: red;"></a>
            </div>
        </div>
    </nav>

    <div class="list-group hide" id="list-group" style="display: none;">
    </div>

    <script src="/js/fragment/header.js"></script>
    <link href="/css/main.css" rel="stylesheet">


    <input type="hidden" id="userId"> <!-- js 데이터 전달용-->
    <input type="hidden" id="userName"> <!-- js 데이터 전달용-->

</div>



</body>

</html>