<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="contents" class="center">
    <h2 class="center">강사 마이페이지</h2>
    <button class="btn btn-primary" style="float:right;" onclick="location.href = '/teacher/modify'">회원정보 수정</button>

    <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/teacher/lesson/create}'|" style="float:right;">강의 만들기</button>
    <br>
    <br>
    <h3 class="center">내가 진행중인 강의</h3>
    <table class="table">
        <tr>
            <th>번호</th>
            <th>강의명</th>
            <th>강사</th>
            <th>프로필사진</th>
            <th>시간</th>
            <th>가격</th>
            <th>레슨 시작일</th>
            <th>레슨 종료일</th>
            <th>수강신청 마감일</th>
            <th>수강자수</th>
            <th>취소하기</th>
        </tr>

        <tr th:each="lesson : ${lessons}">
            <td><a th:text="${lesson.id}">번호</a></td>
            <td th:text="${lesson.name}">강의명</td>
            <td th:text="${lesson.teacherId}">강사</td>
            <td><img th:src="|/image/${lesson.teacherProfileImageUrl}|" width="50" height="50"/></td>
            <td th:text="${lesson.lessonTime}">시간</td>
            <td th:text="${lesson.price}">가격</td>
            <td th:text="${lesson.lessonStartDate}">레슨 시작일</td>
            <td th:text="${lesson.lessonEndDate}">레슨 종료일</td>
            <td th:text="${lesson.applyEndDate}">수강신청 마감일</td>
            <td th:text="${lesson.applyStatus}">수강자수</td>
            <th:block th:if="${lesson.userApplyStatus}">
                <td><a>신청완료</a></td>
            </th:block>
            <th:block th:unless="${lesson.userApplyStatus}">
                <td>
                    <button th:onclick="cancelLesson([[${lesson.id}]])">취소하기</button>
                </td>
            </th:block>

        </tr>
    </table>
    <script src="/js/teacherMyPage.js"></script>
    <link href="/css/main.css" rel="stylesheet">
</div>

</body>
</html>