
#adminContent {
    display: flex;
    flex-direction: row;
}

#adminContent > div {
    flex-basis: 49%;
    padding: 5px;
    border: #ddd solid 1px;
}

#container-2 > div {
    padding: 5px;
    margin-bottom: 20px;
    border-bottom: #ddd solid 1px;
}

#teacherContainer > div:nth-child(2) {
    position: relative;
}

#teacherContainer > div:nth-child(2) img {
    width : 130px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.sublistTable {
    width: 100%;
    font-size: 13px;
}

#lessonReviewContainer > th {
    cursor: none;
}