.center {
text-align:center;
}

.left {
text-align:left;
}

.center div {
margin: 0 auto;
}

.sampleImage{
    max-width: 25%;
    min-width: 25%;
}

.marginLow div {
    margin: 1%;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.show-modal {
  visibility: visible;
  opacity: 1;
}