<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="contents">
    <div style="text-align: center">
        <h3>강의소개</h3>
        <div>
            <label for="lessonName">레슨명</label>
            <a th:text="${lesson.name}" id="lessonName"></a>
        </div>
        <br>
        <div>
            <label for="lessonContent">레슨소개</label>
            <a th:text="${lesson.content}" id="lessonContent"></a>
        </div>
        <div>
            <label for="price">가격</label>
            <a th:text="${lesson.price}" id="price"></a>원
        </div>
        <div>
            <label for="studentNumber">현재 수강자수</label>
            <a th:text="${lesson.studentNumber}" id="studentNumber"></a> /
            <a th:text="${lesson.maximumStudentsNumber}"></a>
        </div>

        <br>
        <br>
        <h3>강사소개</h3>
        <div>
            <a th:href="@{/teacher/{teacherId}(teacherId=${lesson.teacher.id})}"><h4 th:text="${lesson.teacher.name}"
                                                                                     id="teacherName"></h4></a>
            <a th:href="@{/teacher/{teacherId}(teacherId=${lesson.teacher.id})}"><img
                    th:src="|/image/${lesson.teacher.profileImageUrl}|" width="100" height="100"/></a>
            <br>
            <a>사진 클릭 시 강사 소개페이지로 연결됩니다.</a>
        </div>
        <br>
        <div>
            <h4>강의이력</h4>
            <table class="table">
                <tr>
                    <th>번호</th>
                    <th>강의명</th>
                    <th>레슨 시작일</th>
                    <th>레슨 종료일</th>
                </tr>

                <tr th:each="historyLesson : ${lesson.teacher.lessons}">
                    <td th:text="${historyLesson.id}">번호</td>
                    <td th:text="${historyLesson.name}">강의명</td>
                    <td th:text="${historyLesson.lessonStartDate}">레슨 시작일</td>
                    <td th:text="${historyLesson.lessonEndDate}">레슨 종료일</td>
                </tr>
            </table>
        </div>

        <div>
            <h4>강의장소</h4>
            <div id="roadAddress">

            </div>

            <div id="map" style="width:100%;height:350px;"></div>
            <p><em>지도를 클릭해주세요!</em></p>
            <div id="clickLatlng"></div>

            <script type="text/javascript"
                    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=23d27b2f2dfd27bc1cdf7285d87b221d&libraries=services,clusterer,drawing"></script>

            <br>
            <form th:action="|/lesson/${lesson.id}|" method="post">
                <button>수강 신청하기</button>
            </form>
        </div>
    </div>
    <script>
        console.log([[${lesson.roadAddress}]]);
        marker([[${lesson.roadAddress}]]);
    </script>
    <script src="/js/applyLesson.js"></script>
</div>

</body>
</html>