<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>메인페이지</h1>
    <br>
    <h3>메뉴모음</h3>
    <a href="/login/student">로그인</a>
    <a> </a>
    <br>
    <br>
<!--    <a href="/login/teacher">강사 로그인</a>-->
    <a href="/join/student">수강생 가입하기</a>
    <a> </a>
    <br>
    <br>
    <a href="/join/teacher">강사 가입하기</a>
    <a href="/lesson/create">강사 레슨만들기</a>
    <br>
    <br>
    <a href="/logout">로그아웃</a>
    <br>
    <hr>
    <div>
        <h3>진행중인 레슨 목록</h3>
        <table border="1">
            <tr>
                <th>번호</th>
                <th>강의명</th>
                <th>강사</th>
                <th>프로필사진</th>
                <th>시간</th>
                <th>레슨 시작일</th>
                <th>레슨 종료일</th>
                <th>수강신청 마감일</th>
                <th>신청현황</th>
                <th>수강신청</th>
            </tr>

            <tr th:each="lesson : ${lessons}">
                <td> <a th:text="${lesson.id}">번호</a> </td>
                <td th:text="${lesson.name}">강의명</td>
                <td th:text="${lesson.teacher.name}">강사</td>
                <td> <img th:src="|/image/${lesson.teacher.profileImageUrl}|" width="50" height="50"/> </td>
                <td th:text="${lesson.lessonTime}">시간</td>
                <td th:text="${lesson.lessonStartDate}">레슨 시작일</td>
                <td th:text="${lesson.lessonEndDate}">레슨 종료일</td>
                <td th:text="${lesson.applyEndDate}">수강신청 마감일</td>
                <td th:text="${lesson.applyStatus}">신청현황</td>
                <td> <a th:href="@{|/lesson/${lesson.id}|}">신청하기</a></td>
            </tr>
        </table>
        <a>※ 수강신청은 레슨 시작일 3일 전까지 가능합니다.</a>
    </div>
</div>


</body>
</html>