<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="contents">
    <h4 class="center">진행중인 레슨 목록</h4>

    <table class="table center" id="lessonList">
        <thead>
        <tr>
            <th>강의명</th>
            <th>강사</th>
            <th>시간</th>
            <th>가격</th>
            <th>레슨 시작일 /<br>레슨 종료일</th>
            <th>수강신청<br>마감일</th>
            <th>수강자수</th>
            <th>수강신청</th>
        </tr>
        </thead>
    </table>
    <a>※ 수강신청은 레슨 시작일 3일 전까지 가능합니다.</a>
    <div id="searchBox"></div>
    <br>
    <div id="pagination"></div>

    <script src="/js/home.js"></script>
    <link href="/css/main.css" rel="stylesheet">
</div>

</body>

</html>